body{
    margin:0;
    background:black;
    color:white;
    font-family:Arial;
}

/* NAVBAR */
.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 30px;
    position:fixed;
    top:0;
    left:0;
    right:0;
    background:black;
}

.logo{
    letter-spacing:6px;
}

/* BURGER */
.burger{
    font-size:28px;
    cursor:pointer;
}

/* HERO */
.hero{
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;

    background-image: url("https://images.unsplash.com/photo-1521335629791-ce4aec67dd49");
    background-size:cover;
    background-position:center;
}

.hero h1{
    font-size:50px;
    margin:0;
}